@import "../fonts/fonts.44cea94f.css";
@import "style.e93aa29d.css";

canvas {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: inset(0 0 0 0);
  transition: all 300ms ease-out;
}
